name: Deploy documentation to Pages

on:
  push:
    tags: ["[0-9]+.[0-9]+.[0-9]+**"]

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: fwcd/swift-docc-action@v1
        with:
          target: IOStreams
          output: ./docs
          hosting-base-path: IOStreams
          disable-indexing: 'true'
          transform-for-static-hosting: 'true'
      
      - name: Setup Pages
        uses: actions/configure-pages@v1
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './docs'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
